// Site Colors
$main-bg-color: #fefefe;
$blue-color: #69addc;

// Shirt Color Options
$shirt-color-blue: #81bce6;
$shirt-color-pink: #cb6a97;
$shirt-color-orange: #d6a367;
$shirt-color-green: #78ae7e;

// Site Components
$border-size: 2px;